<a href="https://colab.research.google.com/github/anandaptrnrl-12/Pemograman-Dasar/blob/main/Pertemuan%202.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [1]:
age = 17
salary = 5000000.0

print(type(age))
print(type(salary))

<class 'int'>
<class 'float'>

In [2]:
x = 6
print(type(x))

x = 6.0
print(type(x))

x = 1+2j
print(type(x))

<class 'int'>
<class 'float'>
<class 'complex'>

In [3]:
var = 10
print(var)
print(id(var))
var = 11
print(var)
print(id(var))

10
11642376
11
11642408

In [4]:
x = True
print(type(x))
x = False
print(type(x))

<class 'bool'>
<class 'bool'>

In [5]:
x = 'polibatam'
print(type(x))

x = 'polibatam'
print(x[0])

x = 'polibatam'
print(x[2:])

<class 'str'>
p
libatam

In [6]:
multi_line = """ Halo!
kapan terakhir kali kita bertemu?
kita bertemu hari jum'at yang lalu."""
print(multi_line)

 Halo!
kapan terakhir kali kita bertemu?
kita bertemu hari jum'at yang lalu.

In [7]:
x = 'polibatam'
x[0] = 'f'

TypeError: 'str' object does not support item assignment

In [8]:
name = "Ananda Putri"
print(f"Hello, nama saya {name}")

name = "Ananda Putri"
print("Nama saya %s" % (name))

name = "Ananda Putri"
print("Nama saya {}".format (name))

name = "Ananda Putri"
print("Nama saya:", name)

Hello, nama saya Ananda Putri
Nama saya Ananda Putri
Nama saya Ananda Putri
Nama saya: Ananda Putri

In [9]:
x = [1, 2.2, 'plibatam']
print(type(x))

x = [1, 2.2, 'Dicoding']
print(x)

<class 'list'>
[1, 2.2, 'Dicoding']

In [10]:
x = [1, 'plibatam',True, 1.0]
print(x[2])

True

In [11]:
x = [1, 2.2, 'polibatam']
x[0] = 'Indonesia'
print(x)

['Indonesia', 2.2, 'polibatam']